{
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    },
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    }
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "tabWidth": 2,
        "bracketSpacing": false,
        "bracketSameLine": false,
        "semi": true,
        "requirePragma": false,
        "proseWrap": "preserve",
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 120,
        "endOfLine": "auto",
        "arrowParens": "always"
      }
    ],
    "react/prop-types": "off",
    "react/jsx-filename-extension": [1, {"extensions": [".tsx", ".ts"]}],
    "react/display-name": "off",
    "no-console": "warn",
    "import/export": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-duplicates": ["error", {"considerQueryString": true}],
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/react-in-jsx-scope": 0
  }
}
